html {
    scroll-behavior: smooth;
}

html, body, * {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "leftGap centre rightGap";
  grid-template-columns: 1fr 2fr 1fr;
}

.wrapper-contents {
    grid-area: centre;
}

.cta {
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #BC5BC1;
    border: none;
    color: white;
}