{% extends 'section.html' %}
{% block name %}availability{% endblock %}

{% block contents %}
<h2>Availability</h2>
<p><i>Last updated 20/04/26</i></p>
<div class="table">
    <div class="row">
        <div class="cell">
            <h3>Open to</h3>
            <ul>
                <li>Overnights</li>
                <li>Mother's help</li>
                <li>Babysitting</li>
                <li>Pick-ups</li>
                <li>Regular</li>
                <li>Ad-hoc</li>
            </ul>
        </div>
        <div>
            {% include 'days-available.html' %}
        </div>
    </div>
</div>
{% endblock %}
