{% extends 'section.html' %}
{% block name %}availability{% endblock %}

{% block contents %}
<h2>Availability</h2>
<p>Open to:</p>
<ul>
    <li>Overnights</li>
    <li>Mother's help</li>
    <li>Babysitting</li>
    <li>Regular</li>
    <li>Ad-hoc</li>
</ul>
<p>Days available:</p>
<ul>
    <li>Mondays</li>
    <li>Tuesdays</li>
    <li>Wednesdays < 3PM & > 7PM (TBC)</li>
    <li>Thursdays >= 3PM</li>
    <li>Fridays</li>
    <li>Saturdays >= 3:30PM</li>
    <li>Sundays >= 3:30PM</li>
</ul>
{% endblock %}
