{% extends 'section.html' %}
{% block name %}availability{% endblock %}

{% block contents %}
<h2>Availability</h2>
<p><i>Last updated 18/04/26</i></p>
<table>
    <tr>
        <td>
            <h3>Open to</h3>
            <ul>
                <li>Overnights</li>
                <li>Mother's help</li>
                <li>Babysitting</li>
                <li>Pick-ups</li>
                <li>Regular</li>
                <li>Ad-hoc</li>
            </ul>
        </td>
        <td>
            <h3>Days available</h3>
            <ul>
                <li>Mon 27th April</li>
                <li>Mon 4th May after 5pm</li>
                <li><s>other Mon</s> (free from 1st June)</li>
                <li>Tues</li>
                <li>Wed before 3PM</li>
                <li>Thurs after 3PM</li>
                <li>Fri</li>
                <li>Sat after 3:30PM</li>
                <li>Sun after 3:30PM</li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}
