<div id="contactSection">
    <h2 id="booking">Book a vibe check ✨️</h2>
    <p>will respond ASAP, within 12 hours</p>
    <form name="contact" method="POST" data-netlify="true">
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="contact">WhatsApp (or e-mail)</label><br>
        <input type="text" id="contact" name="contact"><br>
        <label for="message">Message</label><br>
        <textarea id="message" name="message" rows="8" cols="50"></textarea><br>
        <input id="submit" type="submit" value="Submit">
    </form>
</div>