{% extends 'section.html' %}

{% block contents %}
<h2>Experience</h2>
<ul>
    <li>Many many years of working with people</li>
    <li>
        1 year of experience
        <ul>
            <li>14 months to 11 years</li>
            <li>Multiple kids</li>
            <li>
                Neurodivergence:
                <ul>
                    <li>Autism</li>
                    <li>ADHD</li>
                    <li>PDA</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Experience with improv (drama)</li>
</ul>
{% endblock %}
