<table class="profile-section">
    <tr>
        <td>
          <div class="profile-container">
            <div id="profilepiccover">
              <img id="profilepic" class="profilepic" src="static/profile.JPEG"></img><br>
            </div>
            <p class="image-caption top-label">Mark</p>
          </div>
        </td>
        <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          <p class="top-label">Norwich-based</p>
          <p class="top-label">Ofsted-registered</p>
          <p class="top-label">Nanny / babysitter</p>
        </td>
    </tr>
</table>
