<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% include 'header.html' %}
        {% include 'pricing.html' %}
        {% include 'security.html' %}
        {% include 'book-button.html' %}
        {% include 'reviews.html' %}
        {% include 'book-button.html' %}
        {% include 'availability.html' %}
        {% include 'system.html' %}
        {% include 'qualifications.html' %}
        {% include 'experience.html' %}
        {% include 'booking.html' %}
    </body>
</html>
