<nav>
    <button class="nav-btn" data-target="pricing">Pricing</button>
    <button class="nav-btn" data-target="security">Security</button>
    <button class="nav-btn" data-target="reviews">Reviews</button>
    <button class="nav-btn" data-target="availability">Availability</button>
    <button class="nav-btn" data-target="system">System</button>
    <button class="nav-btn" data-target="qualifications">Qualifications</button>
    <button class="nav-btn" data-target="experience">Experience</button>
</nav>
<hr />
<div class="page-container">
    {% include 'pricing.html' %}
    {% include 'security.html' %}
    {% include 'reviews.html' %}
    {% include 'availability.html' %}
    {% include 'system.html' %}
    {% include 'qualifications.html' %}
    {% include 'experience.html' %}
</div>