{% extends 'section.html' %}
{% block name %}pricing{% endblock %}

{% block contents %}
<h2>Pricing</h2>
<ul>
    <li>£15.50 / hour</li>
</ul>
<h3>Things that may reduce pricing</h3>
<ul>
    <li>£12.40 / hour including Ofsted discount (80%, tax-free childcare)</li>
    <li>Registered with the Childcare Grant Payment Service</li>
</ul>
<h3>Things that may increase pricing</h3>
<ul>
    <li>Difficulty</li>
    <li>Journey times</li>
    <li>Amount of kids</li>
    <li>Small number of hours</li>
</ul>
<p>Pricing increases are usually not large and subject to negotation.</p>
<h3>Expenses during work hours</h3>
<ul>
    <li>Fuel costs during work hours will, by default, be charged at £0.45 / mile.</li>
    <li>Small items bought during work hours will be charged to you.</li>
    <li>Anything reasonably expensive would be checked with you before-hand.</li>
    <li>Subject to negotation.</li>
</ul>
{% endblock %}
