{% extends 'section.html' %}
{% block name %}pricing{% endblock %}

{% block contents %}
<h2>Pricing</h2>
<ul>
    <li>£15.50 / hour</li>
</ul>
{% include 'book-button.html' %}
<table>
    <tr>
        <td>
            <h3>Things that may reduce pricing</h3>
            <ul>
                <li><a href="https://www.gov.uk/guidance/universal-credit-childcare-costs" target="_blank">Universal Credit</a> (85% reimbursed (~£2.33 / hour))</li>
                <li><a href="https://www.gov.uk/tax-free-childcare" target="_blank">Ofsted tax-free childcare</a> (80% off (£3.10 / hour))</li>
                <li><a href="https://www.gov.uk/childcare-grant" target="_blank">Childcare Grant Payment Service for students</a> (85% off (~£2.33 / hour))</li>
            </ul>
        </td>
        <td>
            <h3>Things that may increase pricing</h3>
            <p><i>Pricing increases not usually large and subject to negotation</i></p>
            <ul>
                <li>Difficulty</li>
                <li>Journey times</li>
                <li>Amount of kids</li>
                <li>Small number of hours</li>
                <li>Expenses during work hours
                    <ul>
                        <li>Fuel costs during work hours will, by default, be charged at £0.45 / mile.</li>
                        <li>Small items bought during work hours will be charged to you.</li>
                        <li>Anything reasonably expensive would be checked with you before-hand.</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>
<hr class="phoneOnly"/>

{% endblock %}
