<h2>Reviews</h2>
<div>
    <div>
    <h3>Highly recommended babysitter</h3>
    <p>
        Mark is a very good babysitter. He understands the children very well
        and very happy to play all sort of games. One of my boys has got
        special needs and adores the time spent with Mark.
    </p>
    <p>Highly recommend.</p>
    <p>Maria</p>
    <p>⭐️⭐️⭐️⭐️⭐️</p>
    <small>Maria — 04/06/25</small>
    </div>
    <div>
    <h3>Childminding</h3>
    <p>Mark came over to help me look after my son.</p>
    <p>
        During my pregnancy I have been dealing with hyperemesis and pelvic
        girdle. This means I'm not always able to be fun for my 4 year old.
    </p>
    <p>
        We have only had Mark here once, however he was really good with my
        son. My son got on really well with him, he was able to keep him very
        entertained while I was making dinner. This made the evening easier
        and helped remove screen time. He was great at encouraging my son to
        eat his dinner as we battled the daily dinner eating challenge.
    </p>
    <p>
        We would recommend Mark if your child requires a lot of activities,
        energy and engagement.
    </p>
    <p>
        If I need someone to help me look after Charlie, I will book again 🙂
    </p>
    <p>⭐️⭐️⭐️⭐️⭐️</p>
    <small>Seniz — 10/12/25</small>
    </div>
    <div>
    <h3>Great with my boys 💙</h3>
    <p>
        We've had Mark twice now. He is always on time, keen to make the
        children feel settled quickly before we leave, will keep me updated
        while we are out and my two boys absolutely love him (2 &4 years)
    </p>
    <p>⭐️⭐️⭐️⭐️⭐️</p>
    <small>Chelsea — 24/02/26</small>
    </div>
    <div>
    <h3>A great babysitter</h3>
    <p>
        Mark is always punctual and professional. He is attentive and open to
        improvement. Most importantly though, our son absolutely loves being
        around him. Overall, would definitely recommend hiring him.
    </p>
    <p>⭐️⭐️⭐️⭐️⭐️</p>
    <small>Teo — 20/12/25</small>
    </div>
</div>
