{% extends 'section.html' %}
{% block name %}system{% endblock %}

{% block contents %}
<h2>System</h2>
<ul>
    <li>Great male role-model</li>
    <li>Mindfulness towards safety (of course!)</li>
    <li>
    Open to playing lots of different games:
    <ul>
        <li>Imaginative play</li>
        <li>Lego</li>
        <li>Frisbee</li>
        <li>Trampoline</li>
        <li>Sports</li>
        <li>Football</li>
    </ul>
    </li>
    <li>Adaptive caring style</li>
    <li>Responsible caring</li>
    <li>Soft influence</li>
    <li>Conscious of house rules</li>
    <li>Regular encouragement for good behaviour</li>
    <li>Tidying up</li>
    <li>Nappy changes</li>
    <li>Food preparation</li>
    <li>Reliable</li>
    <li>Punctual</li>
    <li>
    The willingness to:
    <ul>
        <li>understand</li>
        <li>listen</li>
    </ul>
    </li>
    <li>
    Motivation-conscious:
    <ul>
        <li>a deep understanding of the motivation behind behaviours</li>
        <li>
        redirection towards more productive behaviours where necessary
        </li>
        <li>
        transforming productive activities to use the same kind of
        motivation
        </li>
    </ul>
    </li>
    <li>
    Feedback-oriented:
    <ul>
        <li>willing; and</li>
        <li>eager to take feedback</li>
    </ul>
    </li>
</ul>
{% endblock %}
